#prodet {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #3a7e93;
}



.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}