/* Styles for the top bar */

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #3a7e93;
}

.top-bar-right {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px; /* Space between elements */
}

.contact-button {
    background-color: #2e7a91;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
}

.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #3a7e93;
    color: #ffffff;
    border:solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

/* Header and Nav styles (as before) */
.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px; /* Adjusted to leave space for the top-right elements */
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}


.contact-button:hover{
    background-color: #fdffff;
    color: #000000;
    border-color: #000000;
}